global:
    scrape_interval: 5s
scrape_configs:
  - job_name: cadvisor
    static_configs:
      - targets:
        - cadvisor:8080
  - job_name: node_exporter_host
    static_configs:
      - targets:
        - host.docker.internal:9100
